/* promo block */

.project-promo {
  position: relative;
  padding: 165px 50px 51px;
  background: url('../images/cover.jpg') center center/cover no-repeat;
}

.project-promo__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 135px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 100px;

  text-transform: uppercase;
  position: relative;
}

.project-promo__title-item {
  margin-bottom: 20px;
}

.project-promo__title-item:nth-child(1) {
  line-height: 115%;
}

.project-promo__title-item:nth-child(2) {
  text-align: center;
  line-height: 100%;
}

.project-promo__title-item:nth-child(3) {
  text-align: end;
  margin-bottom: 0;
  line-height: 100%;
}

.project-promo__inner-span.project-promo__inner-span--ls-0 {
  letter-spacing: 0;
}

.project-promo__inner-span.project-promo__inner-span--ls-30 {
  letter-spacing: 30px;
}

.project-promo__inner-span.project-promo__inner-span--ls-60 {
  letter-spacing: 60px;
}

.project-promo__bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.project-promo__bottom-text {
  color: var(--color-white);
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 26px;
  word-spacing: 19px;
}

/* lots block */

.project-lots {
  padding: 179px 24px 0;
}

.project-lots .project-title {
  margin-bottom: 27px;
  padding-left: 40px;
}
.project-lots__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.project-lots__card {
  position: relative;
  padding: 51px 40px 48px;
  text-decoration: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.project-lots__card-img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  min-height: 100%;
}

.project-lots__card-title {
  color: var(--color-white);
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
}

.project-lots__card-text {
  color: var(--color-white);
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  position: relative;
}

.project-lots__card-link {
  text-decoration: none;
}

.project-lots__link {
  padding-left: 40px;
  color: var(--color-black);
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* about block */

.project-about {
  display: flex;
  gap: 74px;
  padding: 182px 26px 45px 70px;
}

.project-about__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 240px;
  border-radius: 50%;
  background: var(--color-black);
}

.project-about__logo-img {
  width: 147px;
  height: auto;
}

.project-about__descr {
  padding-top: 100px;
}

.project-about .project-title {
  margin-bottom: 101px;
}

.project-about__text {
  color: var(--color-black);
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 688px;
}

.project-about__text:last-child {
  margin-bottom: 0;
  max-width: 693px;
}
