.project-footer {
  padding: 130px 50px 89px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.project-footer .project-nav {
  padding-top: 5px;
}

.project-footer .project-addr {
  padding-top: 5px;
}

.project-footer .project-nav__list {
  flex-direction: column;
  gap: 0;
  padding-top: 0;
}

.project-footer .project-nav__item::before {
  display: none;
}
.project-footer__social {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style-type: none;
}

.project-footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}

.project-footer__social-item:hover {
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.2);
}
