.project-header {
  padding: 92px 50px 97px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 3px;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header__logo {
  width: 135px;
  height: auto;
  margin-right: 160px;
}

.project-header__logo img {
  display: block;
  object-fit: contain;
}
