.header {
  padding: 92px 50px 97px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 3px;
  background: var(--color-white);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__logo {
  width: 135px;
  height: auto;
}

.header__logo img {
  display: block;
  object-fit: contain;
}

.header .nav {
  display: flex;
}

.header .addr {
  margin-left: 200px;
}
