/* btns */

.project-btn {
  font-family: inherit;
  color: var(--color-white);
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--color-white);
  min-height: 51px;
  padding: 0 31px;
  background: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.project-btn:hover {
  background: var(--color-white);
  color: var(--color-black);
}

/* title h2 */

.project-title {
  color: var(--color-black);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
}

/* address */

.project-addr {
  max-width: 237px;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: normal;
  text-underline-offset: 3px;
}

.project-addr__item {
  display: inline-block;
}

/* nav */

.project-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  padding-top: 6px;
  list-style-type: none;
}

.project-nav__item {
  position: relative;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.project-nav__item::before {
  position: absolute;
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  left: -20px;
  top: 8px;
}

.project-nav__item:first-of-type::before {
  display: none;
}

.project-nav__link.project-nav__link--current {
  text-decoration: none;
}

/* overlay */

.project-overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.6;
  background: var(--color-black);
}
